In [1]:
records = {101:{'name':'sauce','price':50,'quantity':25,'brand':'everest','discount':10},
           102:{'name':'water bottle','price':15,'quantity':100,'brand':'bisleri','discount':10},
           103:{'name':'cake','price':500,'quantity':10,'brand':'parle','discount':10},
           104:{'name':'cheese','price':15,'quantity':50,'brand':'amul','discount':10},
           105:{'name':'chips','price':10,'quantity':100,'brand':'lays','discount':10},
           106:{'name':'rice','price':500,'quantity':12,'brand':'basmati','discount':10},
           107:{'name':'chocolate','price':45,'quantity':200,'brand':'cadbury','discount':10},
           108:{'name':'biscuit','price':10,'quantity':100,'brand':'parle','discount':10},
           109:{'name':'icecream','price':25,'quantity':50,'brand':'breyers','discount':10},
           110:{'name':'oil','price':250,'quantity':20,'brand':'fortune','discount':10},
           111:{'name':'pickle','price':55,'quantity':30,'brand':'swad','discount':10},
           112:{'name':'cashew','price':120,'quantity':35,'brand':'cornitos','discount':10},
           113:{'name':'almond','price':125,'quantity':35,'brand':'regency','discount':10},
           114:{'name':'honey','price':50,'quantity':15,'brand':'dabar','discount':10},
           115:{'name':'walnut','price':65,'quantity':35,'brand':'fisher','discount':10},
           116:{'name':'raspberry','price':250,'quantity':20,'brand':'driscolls','discount':10},
           117:{'name':'shampoo','price':59,'quantity':50,'brand':'himaliya','discount':10},
           118:{'name':'pen','price':5,'quantity':100,'brand':'saino softek','discount':10},
           119:{'name':'phone','price':10000,'quantity':15,'brand':'apple','discount':10},
           120:{'name':'notebook','price':58,'quantity':50,'brand':'mahavir','discount':10},
           121:{'name':'bodylotion','price':69,'quantity':25,'brand':'nivea','discount':10},
           122:{'name':'sweets','price':140,'quantity':10,'brand':'haldirams','discount':10},
           123:{'name':'meggie','price':10,'quantity':50,'brand':'meggie','discount':10},
           124:{'name':'pasta','price':25,'quantity':50,'brand':'meggie','discount':10},
           125:{'name':'soap','price':15,'quantity':80,'brand':'detole','discount':10},
           126:{'name':'bulb','price':70,'quantity':25,'brand':'philips','discount':10},
           127:{'name':'pista','price':500,'quantity':20,'brand':'nutraj','discount':10},
           128:{'name':'tape','price':10,'quantity':50,'brand':'euro','discount':10},
           129:{'name':'earpodes','price':12000,'quantity':20,'brand':'boat','discount':10},
           130:{'name':'tv','price':65000,'quantity':5,'brand':'lg','discount':10}
           }

In [2]:
import json

In [3]:
js = json.dumps(records)

In [4]:
fd = open("records.json",'w')

fd.write(js)

fd.close()

In [5]:
fd = open("records.json",'r')

txt = fd.read()

fd.close()

# **Adding Items**

In [6]:
total_new_item = int(input("Enter the Total new item: "))
while(total_new_item!=0):
  prod_id = int(input("Enter product id:"))
  name = str(input("Enter name:"))
  price = int(input("Enter price:"))
  quantity = int(input("Enter quantity:"))
  brand = str(input("Enter brand:"))
  discount = int(input("Enter discount:"))

  records[prod_id] = {'name': name, 'price': price, 'quantity': quantity,'brand':brand,'discount':discount}
  print("*****************************************")
  total_new_item-=1
print("New items added to Inventory")

js = json.dumps(records)

fd = open("records.json",'w')
fd.write(js)
fd.close()

Enter the Total new item: 2
Enter product id:131
Enter name:laptop
Enter price:90000
Enter quantity:10
Enter brand:apple
Enter discount:10
*****************************************
Enter product id:132
Enter name:watch
Enter price:3000
Enter quantity:25
Enter brand:apple
Enter discount:10
*****************************************
New items added to Inventory

## **Purchasing Items**

In [7]:
Total_item = int(input("Enter the total itmes: "))
print("***************************")
A=0
while(Total_item!=0) :
  item_id  = int(input("Enter the item_Id: "))
  item_quantity = int(input("Enter the quantity: "))
  print("item: ", records[item_id ]['name'])
  print("Price: ", records[item_id ]['price'])
  B = (records[item_id ]['price']-(records[item_id ]['price']*records[item_id ]['discount'])/100)*item_quantity
  print("Billing Amount: ",B)
  A+=B
  print("***********************")
  records[item_id ]['quantity'] = records[item_id ]['quantity'] - item_quantity
  Total_item-=1
print("Total Billing Amount:",A)
print("****************Thankyou-Visit Again******************")

Enter the total itmes: 2
***************************
Enter the item_Id: 115
Enter the quantity: 3
item:  walnut
Price:  65
Billing Amount:  175.5
***********************
Enter the item_Id: 128
Enter the quantity: 3
item:  tape
Price:  10
Billing Amount:  27.0
***********************
Total Billing Amount: 202.5
****************Thankyou-Visit Again******************

In [8]:
js = json.dumps(records)

fd = open("product.json",'w')
fd.write(js)
fd.close()

In [9]:

#{'product_id' : item_id, 'quantity' : item_quantity, 'amount': (records[item_id ]['price']-(records[item_id ]['price']*records[item_id ]['discount'])/100)*item_quantity}

In [17]:
#n = str(Total_item)
#i=1
#for i in range(Total_item):
sales = {i : {'product_id' : item_id, 'qn' : item_quantity, 'amount': (records[item_id ]['price']-(records[item_id ]['price']*records[item_id ]['discount'])/100)*item_quantity}}
  #i+=1

In [19]:
js = json.dumps(sales)

fd = open("sales.json",'w')
fd.write(js)
fd.close()